@use "../../../styles/mixins" as *;

.section {
  padding: 4rem 0;
}

.conteneur {
  @include conteneur-standard;
}

.titre {
  max-width: 47.5rem;
  margin-inline: auto;

  @media (max-width: 47.99em) {
    text-align: center;
    // override fr-mb-6w (même spécificité, la cascade seule ne suffit pas)
    margin-bottom: 1.5rem !important;
  }
}

.groupe {
  max-width: 47.5rem;
  margin-inline: auto;
}
