.section {
  padding: 4rem 0;

  @media (max-width: 47.99em) {
    padding: 2.5rem 0;
  }
}

.conteneur {
  padding: 0 9rem;

  @media (max-width: 47.99em) {
    padding: 0 1.5rem;
  }
}

.titre {
  max-width: 47.5rem;
  margin-inline: auto;
  color: var(--blue-france-sun-113-625);
  font-size: 2.25rem;
  font-weight: 700;

  @media (max-width: 47.99em) {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem !important;
  }
}

.groupe {
  max-width: 47.5rem;
  margin-inline: auto;
}
