.carte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1.5rem 1.5rem;
  border: 1px solid var(--border-default-grey);

  @media (max-width: 47.99em) {
    padding: 1rem 1.25rem 1.5rem 1.25rem;
  }
}

.picto {
  width: 5rem;
  height: 5rem;
  max-width: 100%;
}

.description {
  @media (max-width: 47.99em) {
    font-size: 0.75rem !important;
    line-height: 1.25rem !important;
  }
}
