@use "../../../styles/mixins" as *;

.section {
  padding: 5rem 0;
}

.conteneur {
  @include conteneur-standard;
}

.grille {
  gap: 5rem;
  max-width: 60rem;
  margin-inline: auto;

  @media (max-width: 47.99em) {
    gap: 2rem;
  }
}

.inverse {
  flex-direction: row-reverse;
}

.colonneContenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  @media (min-width: 48em) {
    flex: 1 0 0;
    width: auto;
    max-width: 32rem;
  }
}

.titre {
  margin: 0;
}

.titreUneLigne {
  @media (min-width: 78em) {
    white-space: nowrap;
  }
}

.texte {
  margin: 0;
  color: var(--text-default-grey);
  line-height: 1.75rem;
}

.colonneImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  @media (min-width: 48em) {
    flex: 1 1 0;
    width: 409px;
    height: 454px;
    max-width: none;
    padding: 86.911px 0 86.089px 0;
  }
}

.img {
  width: 100%;
  height: auto;
}

.imgTailleFixe {
  width: 18.75rem;
  height: 18.75rem;

  @media (min-width: 48em) {
    width: 24rem;
    height: 24rem;
  }
}

.colonneImageFlexible {
  @media (min-width: 48em) {
    width: auto;
    height: auto;
    padding: 0;
  }

  @media (min-width: 90em) {
    .img {
      width: 130%;
      align-self: flex-start;
    }
  }
}
