@use "../../../styles/mixins" as *;

.section {
  border-top: 1px solid var(--border-default-grey);
}

.conteneur {
  @include conteneur-standard;
}

.carre {
  border: 1px solid var(--border-default-grey);

  @media (max-width: 47.99em) {
    --item-direction: column;
  }
}
