@use "../../../styles/mixins" as *;

.section {
  background-color: var(--background-flat-blue-france);
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.conteneur {
  @include conteneur-standard;
}

.titre,
.texteIntro {
  color: var(--text-inverted-grey);
  text-align: center;

  @media (max-width: 47.99em) {
    text-align: left;
    margin-bottom: 2rem;
  }
}

.texteIntro {
  font-size: 1.125rem;
  line-height: 1.75rem;

  @media (max-width: 47.99em) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
