@use "../../../styles/mixins" as *;

.section {
  background-color: var(--background-flat-blue-france);
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.conteneur {
  @include conteneur-standard;
}

.titre,
.texteIntro {
  color: var(--text-inverted-grey);
  text-align: center;

  @media (max-width: 47.99em) {
    text-align: left;
    margin-bottom: 2rem;
  }
}

.texteIntro {
  @media (max-width: 47.99em) {
    // override la classe utilitaire fr-text--sm (même spécificité)
    font-size: 1rem !important;
  }
}
