.carte {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
  background-color: var(--background-default-grey);
  --text-title-blue-france: var(--blue-france-sun-113-625);
  --text-default-grey: var(--grey-200-850);
  padding: 2rem;

  @media (max-width: 47.99em) {
    flex-direction: column;
  }
}

.picto {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.pictoComposant {
  display: flex;
  flex-shrink: 0;
}

.titre {
  color: var(--text-title-blue-france);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.texte {
  color: var(--text-default-grey);
  font-size: 1rem;
  margin: 0;
}
