@use "../../../styles/mixins" as *;

.section {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.conteneur {
  @include conteneur-standard;
}

.titre {
  line-height: 2.75rem;

  @media (max-width: 47.99em) {
    line-height: 2rem;
    margin-bottom: 0.75rem;
  }
}

.sousTitre {
  @media (max-width: 47.99em) {
    // override fr-mt-6w / fr-mb-4w (même spécificité)
    margin-top: 2.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}

.grille {
  gap: 0.75rem;

  @media (min-width: 48em) {
    gap: 1.5rem;
  }
}

.colonne {
  flex: 0 0 calc((100% - 0.75rem) / 2);

  @media (min-width: 48em) {
    flex: 0 0 calc((100% - 4.5rem) / 4);
  }
}

.intro {
  font-weight: 500;

  @media (max-width: 47.99em) {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}
