@use "../../../styles/mixins" as *;

.section {
  background-color: var(--background-contrast-brown-opera);
}

.conteneur {
  @include conteneur-standard;
}

.sousTexte {
  color: var(--text-default-grey);
}

.liste {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
